body{
 background-color:orange;
 font-family: 'Courier New', Courier, monospace;
 font-size: 25px; color:red
}
section{
display: flex;
font-family: Arial, Helvetica, sans-serif;
}
article{
display: flex;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
